.places {
    margin: 92px auto 92px auto;
    padding: 0px;
}

@media screen and (max-width: 1024px) {
    .places {
        margin: 92px 48px 0px 48px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin: 101px 24px 0px 24px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin: 64px 0px 0px 0px;
    }
}