.header {
    max-width: 1184px;
    width: calc(100% - 96px);
    padding: 28px 0px 0px 0px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}


@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: calc(100% - 32px);
        padding-top: 16px; 
    }
}