.lead__title {
    max-width: 720px;
    width: 100%;
    margin: 0px auto 0px auto;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 100px;
    }
}

/* ниже точка где шрифт 96px выходит за рамки страницы */
@media screen and (max-width: 680px) {
    .lead__title {
        font-size: 70px;
    }
}

@media screen and (max-width: 493px) {
    .lead__title {
        font-size: 55px;
    }
}

@media screen and (max-width: 390px) {
    .lead__title {
        max-width: 288px;
        width: 100%;
        font-size: 40px;
        line-height: 44px;
    }
}