.place__paragraph {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 0;
    object-fit: contain;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 515px) {
    .place__paragraph {
        grid-column: auto;
        grid-row: auto;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        width: calc(100% - 32px);
        margin: 0 auto;
        font-size: 16px;
        padding: 0;
    }
}