.cover {
    margin: 0px auto 92px auto;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 0px auto 88px auto;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin: 0px auto 64px auto; 
    }
}
