.place__link {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: white;
}

.place__link:hover {
    opacity: 0.8;
}