.footer {
    width: 1184px;
    height: 18px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 0px auto 0px auto;
    padding: 0px 0px 24px 0px;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        width: 186px;
        height: 310px;
        margin: 0px 0px 0px 16px;
    }
}